body {
    margin: 0;
    padding: 0;
}


/* NavBar */ 

#divNav {
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;

}

li {
    width: 100px;
    margin-left: 30px;
}

.nav-list {
    color: white;
    list-style: none;
    display: inline-flex;
}


/* Section 1 Packages */

.container1 {
    column-count: 2;
    background-color: #334d5c;
    padding-top: 100px;
    height: 300px;
}

.column1 {
    margin-left: 100px;
    margin-bottom: 100px;
}

.column2 {
    padding-top: 40px;
}

h2 {
    color: white;
    font-size: 40px;
}

#p-h2 {
    font-size: 25px;
}

.img-packages {

    width: 250px;
    height: 250px;
    display: flex;
}

/* Section 2 Eclosion */ 

.container2 {
    column-count: 1;
    height: 400px;
}

#eclosion-div {
    margin-left: 20px;
}

.div-eclosion {
    text-align: center;
    justify-content: space-around;
    padding-top: 50px;
}

#eclosion {

    background-color: #334d5c;
    height: 50px;
    width: 250px;
    margin: 1px auto
}

#p-eclosion {
    font-size: 50px;
    text-align: center;
    color: white;
}

.image {
    height: 100px;
}

.div-bas {
    display: flex;
    background-color: #eae3d6;
    justify-content: space-evenly;
    padding-top: 30px;
}

.pp {
    height: 120px;
    width: 40%;
}

/* Footer */

.container3 {
    background-color: #393a3b;
    padding-bottom: 100px;
    padding-top: 100px;
}

.column-footer {
    background-color: #393a3b;
    display: flex;
    justify-content: space-evenly
}

.myClass {
    height: 50px;
    width: 50px;
}

h3 {
    color: white;
}

.carte {
    text-align: center;
    background-color: #eae3d6 ;
}
